<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Status Report</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/icon.png">
</head>
<body>
    <div class="container">
        <img src="/static/logo.png" alt="Service Status Report" class="logo-img">
        <div class="update-time">Last Updated: {{.UpdateTime}}</div>
        {{range .Results}}
        <div class="service-block card">
            <h2>{{.Name}}</h2>
            <h3>Service Status History</h3>
            <div class="status-bar">
                {{ $len := len .History }}
                {{ if lt $len 72 }}
                    {{ $missing := sub 72 $len }}
                    {{ range $i := until $missing }}
                        <div class="status-rect status-gray" title="No Result" data-time="No Data"></div>
                    {{ end }}
                {{ end }}
                {{ range $i, $h := .History }}
                    {{ if ge $i (sub $len 72) }}
                        <div class="status-rect status-{{ $h.Status }}" title="{{ $h.Time }}: {{ $h.Status }}" data-time="{{ $h.Time }}"></div>
                    {{ end }}
                {{ end }}
            </div>
            {{ range $url, $arr := .Ports }}
            <div class="port-block">
                <div class="port-url">{{$url}}</div>
                <div class="status-bar">
                    {{ $len := len $arr }}
                    {{ if lt $len 72 }}
                        {{ $missing := sub 72 $len }}
                        {{ range $i := until $missing }}
                            <div class="status-rect status-gray" title="No Result" data-time="No Data"></div>
                        {{ end }}
                    {{ end }}
                    {{ range $i, $h := $arr }}
                        {{ if ge $i (sub $len 72) }}
                            <div class="status-rect status-{{ $h.Status }}" data-time="{{ $h.Time }}"></div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{end}}
    </div>
</body>
<footer class="footer">
    Want to build your own service status monitoring site?<br>
    <a href="https://github.com/WCY-dt/ponghub" target="_blank" rel="noopener" class="footer-link">Visit the GitHub repo</a> and join us!
</footer>
</html>